* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .logo {
    display: none;
  }
}

footer {
  background-image: url(../Imagenes/bgFooter.webp);
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-items: top;
  color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}
footer .footerForm {
  text-align: center;
  margin: 60px 0;
}
footer .footerForm h3 {
  font-family: "Oswald", "sans-serif";
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
footer .footerForm .inputFooterForm {
  background-color: rgba(24, 24, 24, 0.849);
  color: rgba(194, 193, 193, 0.61);
  width: 350px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(24, 24, 24, 0.849);
}
footer .footerForm a {
  background-color: #c7a17a;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", "sans-serif";
  letter-spacing: 0.8px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.6s;
}
footer .footerForm a:hover {
  background-color: white;
  color: black;
}
footer .contactGeneralFooter {
  display: flex;
  justify-content: space-around;
}
footer .contactGeneralFooter .contactFooterContainer {
  text-decoration: none;
}
footer .contactGeneralFooter .contactFooterContainer .footerTitles {
  font-family: "Oswald", "sans-serif";
  letter-spacing: 1px;
  margin-top: 10px;
}
footer .contactGeneralFooter .contactFooterContainer li {
  list-style: none;
  font-style: "Open Sans", "sans-serif";
  padding: 10px 0px;
}
footer .contactGeneralFooter .contactFooterContainer li span {
  font-weight: bold;
}
footer .contactGeneralFooter .contactFooterContainer li .cerrado {
  color: #c7a17a;
  font-weight: 500;
  text-transform: uppercase;
}
footer .contactGeneralFooter .footerRedesContainer {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
footer .contactGeneralFooter .footerRedesContainer .footerRedesTitle {
  font-family: "Oswald", "sans-serif";
  letter-spacing: 1px;
  animation: zoomIn;
  animation-duration: 2s;
}
@media (max-width: 400px) {
  footer .contactGeneralFooter .footerRedesContainer .footerRedesTitle {
    font-size: 1em;
  }
}
footer .contactGeneralFooter .footerRedesContainer ul {
  padding: 0;
}
footer .contactGeneralFooter .footerRedesContainer ul:hover a {
  filter: blur(2px);
}
footer .contactGeneralFooter .footerRedesContainer ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
footer .contactGeneralFooter .footerRedesContainer ul li a {
  display: block;
  /*Para que ocupen el espacio exacto que tienen que ocupar*/
  color: #bfbfbf;
  font-size: 30px;
  transition: all 0.6s;
}
footer .contactGeneralFooter .footerRedesContainer ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  filter: none;
}
footer .contactGeneralFooter .footerRedesContainer .linkInstagram:hover {
  color: #e4405f;
}
footer .contactGeneralFooter .footerRedesContainer .linkFacebook:hover {
  color: #3b5999;
}
footer .contactGeneralFooter .footerRedesContainer .linkTwitter:hover {
  color: #55acee;
}
footer .firmaFooter {
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 15px;
  margin-top: 10px;
}
footer .firmaFooter span {
  color: #c7a17a;
  letter-spacing: 1px;
}
@media (max-width: 992px) {
  footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
  }
  footer .footerForm h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  footer footer .footerForm h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 684px) {
  footer {
    padding: 3px 10px;
  }
  footer .contactGeneralFooter .contactOpen {
    display: none;
  }
}
@media (max-width: 564px) {
  footer .footerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  footer .footerForm h3 {
    font-size: 1.5rem;
  }
  footer .footerForm a {
    width: fit-content;
    margin-top: 10px;
  }
  footer .contactGeneralFooter {
    flex-direction: column;
  }
  footer .contactGeneralFooter .contactFooterContainer {
    text-align: center;
  }
  footer .contactGeneralFooter .contactFooterContainer img {
    width: 27% !important;
    margin-bottom: 10px;
  }
  footer .contactGeneralFooter .footerRedesContainer {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  footer .contactGeneralFooter .footerRedesContainer ul {
    display: flex;
    flex-direction: row;
  }
}

header nav {
  animation-name: aparecer;
  animation-duration: 4s;
}
header nav ul li {
  font-family: "Open Sans", "sans-serif" !important;
}
header nav ul li a {
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  transition: all 0.5s !important;
  color: white !important;
  padding: 0.1rem 1rem !important;
}
header nav ul li a:hover {
  color: #c7a17a !important;
}
@media (max-width: 991px) {
  header nav ul li a {
    padding: 0.5rem 1rem !important;
  }
}

#coverPageIndex {
  background-image: url("../Imagenes/portadaIndex.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55rem;
}

#coverPageCoffeeShop {
  background-image: url("../Imagenes/PortadaCoffeeShop1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55rem;
}

#coverPageMethodShop {
  background-image: url("../Imagenes/PortadaMetodShop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55rem;
}

#coverPageIndex, #coverPageCoffeeShop, #coverPageMethodShop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#coverPageIndex .transparentBox, #coverPageCoffeeShop .transparentBox, #coverPageMethodShop .transparentBox {
  height: 40%;
}
#coverPageIndex h2, #coverPageCoffeeShop h2, #coverPageMethodShop h2 {
  height: 25%;
  text-align: center;
  color: white;
  font-family: "Oswald", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 25px;
}
#coverPageIndex .menuTitleLine, #coverPageCoffeeShop .menuTitleLine, #coverPageMethodShop .menuTitleLine {
  color: #c7a17a;
  margin-top: -200px;
  font-size: 3rem;
}

.logo {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 2;
}

.errorContainer .errorDescription .errorButton, #methodShopList .methodsContainer .itemButton, #mainCoffeeShop .cardContainer .cardDescription a, #ourCoffee .ourCoffeeDetail a, #shop .shopContainer .shopMarketContainer .shopMarketDescription a, #menuIndex .menuIndexDescription a {
  background-color: #c7a17a;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", "sans-serif";
  letter-spacing: 1.5px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.6s;
}
.errorContainer .errorDescription .errorButton:hover, #methodShopList .methodsContainer .itemButton:hover, #mainCoffeeShop .cardContainer .cardDescription a:hover, #ourCoffee .ourCoffeeDetail a:hover, #shop .shopContainer .shopMarketContainer .shopMarketDescription a:hover, #menuIndex .menuIndexDescription a:hover {
  background-color: white;
  color: black;
}

h1 {
  display: none;
}

#nosotros {
  padding: 80px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nosotros img {
  width: 25rem;
  height: fit-content;
  box-shadow: -18px 24px 12px 0 rgba(0, 0, 0, 0.2);
  animation-name: aparecer;
  animation-duration: 4s;
}
#nosotros div {
  padding: 70px 90px;
  text-align: justify;
  animation-name: aparecer;
  animation-duration: 4s;
}
#nosotros div h2 {
  margin-bottom: 15px;
  font-family: "Oswald", "sans-serif";
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}
#nosotros div p {
  letter-spacing: 1px;
  line-height: 40px;
  text-align: justify;
  font-family: "Open Sans", "sans-serif";
}

#nuestraCasa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../Imagenes/nuestraCasaBackground.webp);
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
}
#nuestraCasa h2 {
  font-family: "Oswald", "sans-serif";
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
}
#nuestraCasa h2 span {
  color: #c7a17a;
}
#nuestraCasa .carouselSize {
  padding: 1rem;
  width: 60%;
}

#menuIndex {
  background-image: url(../Imagenes/menuIndexBarista.webp);
  background-position: center;
  background-attachment: fixed;
  height: 50rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#menuIndex .transparentBox {
  height: 45%;
}
#menuIndex .menuIndexDescription h2 {
  font-family: "Oswald", "sans-serif";
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#menuIndex .menuIndexDescription h2 span {
  color: #c7a17a;
}
#shop {
  background-color: black;
  padding: 50px;
  padding-bottom: 10px;
}
#shop h2 {
  color: white;
  letter-spacing: 5px;
  font-family: "Oswald", "sans-serif";
  font-size: 4.5rem;
  animation: zoomIn;
  animation-duration: 2s;
}
#shop h2 span {
  color: #c7a17a;
}
#shop p {
  color: #c7a17a;
  font-family: "Archivo Narrow", "sans-serif";
  letter-spacing: 1.5px;
}
#shop .shopContainer {
  background-image: url(../Imagenes/ShopIndexBackground.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
}
#shop .shopContainer .shopMarketContainer {
  margin: 20px 60px;
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-items: center;
}
#shop .shopContainer .shopMarketContainer .shopMarketDescription {
  text-align: center;
}
#shop .shopContainer .shopMarketContainer .shopMarketDescription p {
  color: white;
  background-color: black;
}
#shop .shopContainer .shopMarketContainer img {
  width: 27rem;
  animation: zoomIn;
  animation-duration: 2s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1450px) {
  #nosotros {
    padding: 80px 70px;
  }
}
@media (max-width: 1180px) {
  #nosotros {
    flex-direction: column;
  }
  #nosotros img {
    width: 20rem;
  }
}
@media (max-width: 992px) {
  #coverPageIndex h2 {
    letter-spacing: 17px;
  }

  #nosotros {
    flex-direction: column;
  }
  #nosotros img {
    width: 20rem;
  }

  #nuestraCasa {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
  }

  #menuIndex {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
  }

  #shop .shopContainer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
  }
  #shop .shopContainer .shopMarketContainer {
    margin: 20px 0;
  }
  #shop .shopContainer .shopMarketContainer img {
    width: 20rem;
  }
}
@media (max-width: 768px) {
  #coverPageIndex {
    height: 40rem;
  }
  #coverPageIndex h2 {
    font-size: 1.5rem;
  }
  #coverPageIndex .menuTitleLine {
    margin-top: -140px;
  }

  #nosotros .nosotrosDescription h2 {
    font-size: 2.5rem;
  }

  #nuestraCasa h2 {
    font-size: 2.5rem;
  }

  #menuIndex .menuIndexDescription h2 {
    font-size: 2.5rem;
  }

  #shop h2 {
    font-size: 4rem;
  }
  #shop .shopContainer .shopMarketContainer .shopMarketDescription p {
    font-size: 0.9rem;
  }
  #shop .shopContainer .shopMarketContainer .shopMarketDescription a {
    font-size: 0.9rem;
  }
  #shop .shopContainer .shopMarketContainer img {
    width: 15rem;
  }
}
@media (max-width: 684px) {
  #coverPageIndex {
    height: 20rem;
    justify-content: center;
  }
  #coverPageIndex .transparentBox {
    display: none;
  }
  #coverPageIndex .menuTitleLine {
    font-size: 1rem;
    margin-top: 0;
  }
  #coverPageIndex h2 {
    font-size: 1rem;
    letter-spacing: 10px;
    height: 1rem;
  }

  #nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
  }
  #nosotros img {
    width: 20rem;
  }
  #nosotros .nosotrosDescription {
    padding: 70px 12px 10px;
  }
  #nosotros .nosotrosDescription h2 {
    font-size: 2rem;
  }
  #nosotros .nosotrosDescription p {
    font-size: small;
    line-height: 28px;
  }

  #nuestraCasa {
    padding: 25px;
  }
  #nuestraCasa h2 {
    font-size: 2rem;
  }
  #nuestraCasa .carouselSize {
    width: 90%;
  }

  #menuIndex .menuIndexDescription {
    padding: 15rem 2rem;
  }

  #shop {
    padding: 50px 30px;
  }
  #shop h2 {
    font-size: 3.5rem;
  }
  #shop p {
    font-size: small;
  }
  #shop .shopContainer .shopMarketContainer {
    margin: 20px 5px;
  }
  #shop .shopContainer .shopMarketContainer a {
    font-size: small;
  }
  #shop .shopContainer .shopMarketContainer img {
    width: 15rem;
    height: 18rem;
    margin: 20px;
  }
}
@media (max-width: 488px) {
  #coverPageIndex {
    height: 20rem;
    justify-content: center;
  }
  #coverPageIndex .transparentBox {
    display: none;
  }
  #coverPageIndex .menuTitleLine {
    font-size: 1rem;
    margin-top: 0;
  }
  #coverPageIndex h2 {
    font-size: 1rem;
    letter-spacing: 6px;
    height: 1rem;
  }

  #nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
  }
  #nosotros img {
    width: 15rem;
  }
  #nosotros .nosotrosDescription {
    padding: 40px 0 0 0;
  }
  #nosotros .nosotrosDescription h2 {
    font-size: 2rem;
  }
  #nosotros .nosotrosDescription p {
    font-size: smaller;
    letter-spacing: 0;
  }

  #nuestraCasa {
    margin: 10px, auto;
    padding: 10px;
  }
  #nuestraCasa h2 {
    font-size: 2rem;
  }
  #nuestraCasa .carouselSize {
    width: 90%;
  }

  #menuIndex {
    height: 33rem;
  }
  #menuIndex .menuIndexDescription {
    padding: 15rem 2rem;
  }
  #menuIndex .menuIndexDescription h2 {
    font-size: 2rem;
  }

  #shop {
    padding: 50px 3px;
  }
  #shop h2 {
    font-size: 3.5rem;
  }
  #shop p {
    font-size: small;
  }
  #shop .shopContainer .shopMarketContainer {
    flex-direction: column-reverse;
    margin: 20px 5px;
  }
  #shop .shopContainer .shopMarketContainer a {
    font-size: small;
  }
  #shop .shopContainer .shopMarketContainer img {
    width: 15rem;
    height: 18rem;
    margin: 20px;
  }
  #shop .shopContainer .shopMarketContainerMethod {
    flex-direction: column;
  }
  #shop .shopContainer .shopMarketContainerMethod img {
    height: 23rem;
  }
}
#video {
  padding: 1rem 0;
  background-image: url(../Imagenes/coffeeBeans.webp);
  background-repeat: repeat;
  background-attachment: fixed;
}

.menuTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Oswald", "sans-serif";
  font-size: 3rem;
  text-transform: uppercase;
  padding: 5rem 0;
}
.menuTitle span {
  color: #c7a17a;
}
.menuTitle .menuTitleLine {
  color: #c7a17a;
  align-items: center;
  margin-top: -35px;
}

#menuGeneral {
  background-image: url(../Imagenes/menuBackgroundNew.webp);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}

.menuLists {
  display: flex;
  flex-direction: row;
  margin: 30px 20px 0px 20px;
}
.menuLists .coffeeMenuList {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.menuLists .coffeeMenuList h3 {
  color: white;
  font-family: "Oswald", "sans-serif";
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
.menuLists .coffeeMenuList .coffeeDetailContainer {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 20px 0px;
}
.menuLists .coffeeMenuList .coffeeDetailContainer img {
  border-radius: 100%;
  width: 80px;
}
.menuLists .coffeeMenuList .coffeeDetailContainer .coffeeDetail {
  margin-left: 10px;
}
.menuLists .coffeeMenuList .coffeeDetailContainer .coffeeDetail .coffeeDetailTitle {
  font-family: "Oswald", "sans-serif";
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.menuLists .coffeeMenuList .coffeeDetailContainer .coffeeDetail .coffeeDetailLine {
  color: white;
}
.menuLists .coffeeMenuList .coffeeDetailContainer .coffeeDetail .coffeeDetailLine span {
  font-weight: bold;
}
.menuLists .coffeeMenuList .coffeeDetailContainer .coffeeDetail .coffeeDetailDetail {
  font-family: "Archivo Narrow", "sans-serif";
  color: #c7a17a;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  #video {
    height: 30rem;
  }

  #menuGeneral {
    padding: 3rem 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
  }
  #menuGeneral .menuLists {
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #menuGeneral .menuLists .coffeeMenuList {
    margin: 0;
    width: 30%;
  }
  #menuGeneral .menuLists .coffeeMenuList .coffeeDetailContainer img {
    width: 56px;
  }
  #menuGeneral .menuLists .coffeeMenuList .coffeeDetailContainer .coffeeDetail .coffeeDetailLine {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #menuGeneral .menuLists {
    width: 100%;
    justify-content: center;
  }
  #menuGeneral .menuLists .coffeeMenuList {
    margin: 0 10px;
  }
  #menuGeneral .menuLists .coffeeMenuList .coffeeDetailContainer .coffeeDetail .coffeeDetailDetail {
    font-size: 13px;
  }
}
@media (max-width: 684px) {
  #video {
    height: auto;
  }

  #menuGeneral {
    background-image: none;
    background-color: #080808;
  }
  #menuGeneral .menuTitle {
    padding: 3rem 0;
  }
  #menuGeneral .menuTitle .menuTitleParagraph {
    font-size: 2.5rem;
  }
  #menuGeneral .menuLists {
    width: 100%;
    justify-content: space-evenly;
  }
  #menuGeneral .menuLists .coffeeMenuList {
    padding: 20px;
    width: 100%;
  }
}
@media (max-width: 488px) {
  #menuGeneral {
    padding: 1rem 0;
  }
  #menuGeneral .menuTitle .menuTitleParagraph {
    font-size: 1.7rem;
  }
  #menuGeneral .menuTitle .menuTitleLine {
    font-size: 1.5rem;
    margin-top: -18px;
  }
}
header .mainTitle {
  display: none;
}

#coverPageCoffeeShop .menuTitleLine {
  margin-top: -230px;
}

#coffeeShopIntro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 468px;
  margin: 100px 40px;
}
#coffeeShopIntro .aboutMarket {
  background-image: url(../Imagenes/about-bg.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 456px;
}
#coffeeShopIntro .aboutMarket .aboutMarketTitleMini {
  font-family: "Oswald", "sans-serif";
  font-weight: bold;
  color: #c7a17a;
  font-size: 24px;
  margin: 0;
  margin-bottom: -10px;
}
#coffeeShopIntro .aboutMarket h2 {
  font-family: "Oswald", "sans-serif";
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
}
#coffeeShopIntro .aboutMarket h2 span {
  color: #c7a17a;
}
#coffeeShopIntro .aboutMarket p {
  font-family: "Open Sans", "sans-serif";
  font-size: 24px;
  text-align: justify;
  padding-right: 129px;
}
#coffeeShopIntro .aboutMarketDescription {
  max-width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#coffeeShopIntro .aboutMarketDescription .marketDescriptionItems {
  margin: 10px;
}
#coffeeShopIntro .aboutMarketDescription img {
  margin-bottom: 7px;
}

.separator {
  height: 300px;
  background-image: url(../Imagenes/coffeeBeans.webp);
  background-repeat: repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 35px 20px black;
}

#ourCoffee {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
#ourCoffee img {
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 0 35px 20px black;
}
#ourCoffee .ourCoffeeDetail {
  color: white;
  font-family: "Oswald", "sans-serif";
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: -1px;
}
#ourCoffee .ourCoffeeDetail p {
  padding: 40px;
  font-size: 3rem;
}
#ourCoffee .ourCoffeeDetail a {
  font-size: 20px;
}

#mainCoffeeShop {
  background-image: url(../Imagenes/bg-blog-image.jpg);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  padding: 25px;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}
@media (max-width: 505px) {
  #mainCoffeeShop {
    padding: 2px;
  }
}
#mainCoffeeShop .mainCoffeeShopDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 50%;
  margin-bottom: 50px;
}
#mainCoffeeShop .mainCoffeeShopDescription h2 {
  align-items: flex-start;
  letter-spacing: 4.8px;
  font-family: "Oswald", "sans-serif";
  font-size: 4rem;
  margin-top: 18px;
}
@media (max-width: 505px) {
  #mainCoffeeShop .mainCoffeeShopDescription h2 {
    font-size: 1.6rem;
  }
}
#mainCoffeeShop .mainCoffeeShopDescription p {
  text-align: start;
  align-items: flex-start;
  padding-right: 20%;
  margin-bottom: 6%;
  font-family: "Archivo Narrow", "sans-serif";
  letter-spacing: 1.5px;
  text-transform: initial;
  font-size: 1.2rem;
}
#mainCoffeeShop .mainCoffeeShopDescription p span {
  color: #eb9d29ef;
}
@media (max-width: 505px) {
  #mainCoffeeShop .mainCoffeeShopDescription p {
    padding: 5%;
    text-align: justify;
    font-size: 0.9rem;
  }
}
#mainCoffeeShop .cardContainer {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
@media (max-width: 505px) {
  #mainCoffeeShop .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    margin: 10px;
    border: 1px solid #cfcece;
    border-radius: 12px;
  }
}
#mainCoffeeShop .cardContainer .cardImage {
  width: 160px;
  border-radius: 10px;
  box-shadow: -15px -10px 22.5px 0px black;
}
@media (max-width: 505px) {
  #mainCoffeeShop .cardContainer .cardImage {
    width: 100%;
    height: 200px;
    box-shadow: none;
    object-fit: cover;
    border-radius: inherit;
    padding: 3px;
  }
}
#mainCoffeeShop .cardContainer .cardDescription {
  width: 45%;
  margin-left: 25px;
}
@media (max-width: 505px) {
  #mainCoffeeShop .cardContainer .cardDescription {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    width: 100%;
    margin: 0px;
  }
}
#mainCoffeeShop .cardContainer .cardDescription h4 {
  border-bottom: 1px solid #dfdede;
  letter-spacing: 6px;
  color: #eb9d29ef;
}
@media (max-width: 505px) {
  #mainCoffeeShop .cardContainer .cardDescription h4 {
    margin: 20px;
  }
}
#mainCoffeeShop .cardContainer .cardDescription p {
  text-align: justify;
  text-transform: initial;
  letter-spacing: 0.4px;
  color: black;
  padding: 15px 0px;
  font-style: normal;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}
@media (max-width: 505px) {
  #mainCoffeeShop .cardContainer .cardDescription p {
    padding: 12px;
  }
}
#mainCoffeeShop .cardContainer .cardDescription a:hover {
  background-color: black;
  color: white;
}
@media (max-width: 505px) {
  #mainCoffeeShop .cardContainer .cardDescription a {
    margin-bottom: 14px;
  }
}

@media (max-width: 992px) {
  #coffeeShopIntro .aboutMarket p {
    font-size: 15px;
  }
  #coffeeShopIntro .aboutMarketDescription .marketDescriptionItems p {
    font-size: 15px;
  }

  #mainCoffeeShop .mainCoffeeShopDescription {
    padding-right: 30%;
  }
}
@media (max-width: 768px) {
  #coverPageCoffeeShop {
    height: 45rem;
  }
  #coverPageCoffeeShop .menuTitleLine {
    margin-top: -188px;
  }

  #coffeeShopIntro {
    margin: 90px 10px;
    padding: 0;
  }
  #coffeeShopIntro .aboutMarket .aboutMarketTitleMini {
    font-size: 20px;
  }
  #coffeeShopIntro .aboutMarket h2 {
    font-size: 43px;
  }
  #coffeeShopIntro .aboutMarket p {
    font-size: 15px;
    padding: 5px;
  }
  #coffeeShopIntro .aboutMarketDescription .marketDescriptionItems img {
    width: 37px;
  }
  #coffeeShopIntro .aboutMarketDescription .marketDescriptionItems h3 {
    font-size: 1.3rem;
  }
  #coffeeShopIntro .aboutMarketDescription .marketDescriptionItems p {
    font-size: 13px;
  }

  .separator {
    height: 170px;
  }

  #ourCoffee .ourCoffeeDetail p {
    font-size: 2rem;
  }
  #ourCoffee .ourCoffeeDetail a {
    font-size: 1rem;
  }

  #mainCoffeeShop .mainCoffeeShopDescription {
    padding-right: 20%;
  }
  #mainCoffeeShop .cardContainer .cardDescription p {
    font-size: 0.95rem;
  }
}
@media (max-width: 684px) {
  #coverPageCoffeeShop {
    height: 30rem;
  }
  #coverPageCoffeeShop .menuTitleLine {
    margin-top: -130px;
  }

  #coffeeShopIntro {
    margin: 15px 10px;
  }
  #coffeeShopIntro .aboutMarket {
    justify-content: center;
  }
  #coffeeShopIntro .aboutMarketDescription {
    display: none;
  }

  .separator {
    height: 110px;
  }

  #ourCoffee .ourCoffeeDetail p {
    padding: 0;
    font-size: 1.5rem;
  }
  #ourCoffee .ourCoffeeDetail a {
    font-size: 1rem;
  }

  #mainCoffeeShop .mainCoffeeShopDescription {
    padding-right: 10%;
  }
  #mainCoffeeShop .mainCoffeeShopDescription h2 {
    font-size: 47px;
  }
  #mainCoffeeShop .mainCoffeeShopDescription p {
    font-size: 1rem;
  }
  #mainCoffeeShop .cardContainer .cardDescription p {
    font-size: 0.8rem;
  }
  #mainCoffeeShop .cardContainer .cardDescription a {
    font-size: 0.8rem;
  }
}
@media (max-width: 505px) {
  #coverPageCoffeeShop {
    height: 25rem;
  }
  #coverPageCoffeeShop h2 {
    font-size: 1rem;
    letter-spacing: 20px;
  }
  #coverPageCoffeeShop .menuTitleLine {
    margin-top: -115px;
    font-size: 2rem;
  }

  .separator {
    height: 72px;
  }

  #ourCoffee {
    display: flex;
    flex-direction: column;
  }
  #ourCoffee .ourCoffeeDetail a {
    font-size: 0.8rem;
  }

  #mainCoffeeShop .mainCoffeeShopDescription {
    padding: 0;
    align-items: center;
  }
  #mainCoffeeShop .mainCoffeeShopDescription h2 {
    font-size: 36px;
  }
}
.navBarMethodShop {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35rem;
  height: 0;
  background-image: url(../Imagenes/PortadaMetodShop.webp);
}

#mainMethodShop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}
#mainMethodShop .mainMethodShopDescription {
  max-width: 50%;
}
#mainMethodShop .mainMethodShopDescription h2 {
  font-size: 4.5rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: "Oswald", "sans-serif";
  margin-bottom: 25px;
}
#mainMethodShop .mainMethodShopDescription h2 span {
  color: #c7a17a;
}
#mainMethodShop .mainMethodShopDescription p {
  text-align: justify;
  font-family: "Archivo Narrow", "sans-serif";
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  padding: 0 85px;
}
#mainMethodShop .mainMethodShopDescription p span {
  color: #eb9d29ef;
}

#methodShopList {
  background-image: url(../Imagenes/bg-blog-image.jpg);
  padding: 25px;
}
#methodShopList .methodShopListDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 50%;
  margin-bottom: 50px;
}
#methodShopList .methodShopListDescription h2 {
  align-items: flex-start;
  letter-spacing: 4.8px;
  font-family: "Oswald", "sans-serif";
  font-size: 4rem;
  margin-top: 18px;
}
#methodShopList .methodShopListDescription h2 span {
  color: #c7a17a;
}
#methodShopList .methodShopListDescription p {
  text-align: start;
  align-items: flex-start;
  padding-right: 20%;
  margin-bottom: 6%;
  font-family: "Archivo Narrow", "sans-serif";
  letter-spacing: 1.5px;
  text-transform: initial;
  font-size: 1.2rem;
}
#methodShopList .methodShopListDescription p span {
  color: #eb9d29ef;
}
#methodShopList .methodsContainer {
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}
#methodShopList .methodsContainer li {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  width: 30rem;
  margin-bottom: 60px;
}
#methodShopList .methodsContainer li:hover {
  transform: translateY(-6px) scale(1.03);
  transition: 0.9s;
  cursor: pointer;
}
#methodShopList .methodsContainer li h4 {
  color: #c7a17a;
  font-family: "Oswald", "sans-serif";
  font-size: 1.5em;
  letter-spacing: 1.8px;
  padding: 1px;
  font-weight: bold;
}
#methodShopList .methodsContainer li img {
  width: 6rem;
  height: 8rem;
  border-radius: 100%;
}
#methodShopList .methodsContainer li p {
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  font-family: "Archivo Narrow", "sans-serif";
}
#methodShopList .methodsContainer .itemButton {
  text-transform: uppercase;
}
#methodShopList .methodsContainer .itemButton:hover {
  background-color: black;
  color: white;
}

@media (max-width: 992px) {
  #coverPageMethodShop h2 {
    letter-spacing: 20px;
  }

  #mainMethodShop .mainMethodShopDescription p {
    padding: 0 8px;
    font-size: 1rem;
  }

  #methodShopList .methodShopListDescription {
    padding-right: 20%;
  }
  #methodShopList .methodsContainer li {
    width: 15rem;
  }
}
@media (max-width: 768px) {
  #coverPageMethodShop {
    height: 45rem;
  }
  #coverPageMethodShop h2 {
    letter-spacing: 15px;
  }
  #coverPageMethodShop .menuTitleLine {
    font-size: 2rem;
    margin-top: -150px;
  }

  #mainMethodShop img {
    width: 52%;
  }
  #mainMethodShop .mainMethodShopDescription h2 {
    font-size: 4rem;
  }
  #mainMethodShop .mainMethodShopDescription p {
    font-size: 0.8rem;
  }
}
@media (max-width: 684px) {
  #coverPageMethodShop {
    height: 35rem;
  }
  #coverPageMethodShop h2 {
    letter-spacing: 9px;
  }
  #coverPageMethodShop .menuTitleLine {
    margin-top: -132px;
    font-size: 1.8rem;
  }

  #mainMethodShop .mainMethodShopDescription h2 {
    font-size: 3rem;
  }

  #methodShopList .methodShopListDescription {
    padding-right: 0;
  }
}
@media (max-width: 488px) {
  #coverPageMethodShop {
    height: 28rem;
  }
  #coverPageMethodShop h2 {
    font-size: 1rem;
    letter-spacing: 6px;
  }
  #coverPageMethodShop .menuTitleLine {
    font-size: 1rem;
    margin-top: -106px;
  }

  #mainMethodShop {
    background-image: url(../Imagenes/chemexStyle.webp);
    background-size: cover;
  }
  #mainMethodShop img {
    display: none;
  }
  #mainMethodShop .mainMethodShopDescription {
    max-width: fit-content;
  }

  #methodShopList {
    padding: 15px;
  }
  #methodShopList .methodShopListDescription h2 {
    font-size: 3rem;
  }
  #methodShopList .methodShopListDescription p {
    padding-right: 0;
    text-align: justify;
    font-size: 1rem;
  }
}
.errorContainer {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "quicksand", sans-serif;
}
.errorContainer img {
  width: 45rem;
  box-shadow: 10px 0px 30px grey;
}
.errorContainer .errorDescription {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin: 0% 10%;
}
.errorContainer .errorDescription h1 {
  color: #eb9d29ef;
  font-size: 10rem;
}
.errorContainer .errorDescription h2, .errorContainer .errorDescription h3 {
  color: #c28842;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.errorContainer .errorDescription p {
  text-align: center;
  text-transform: uppercase;
  line-height: 2.05rem;
  margin-bottom: 2rem;
  letter-spacing: 1.3px;
}
.errorContainer .errorDescription p span {
  color: #eb9d29ef;
  font-weight: bold;
}
.errorContainer .errorDescription .errorButton {
  border: 1px solid white;
  width: 15rem;
  animation: none;
}
.errorContainer .errorDescription .errorButton:hover {
  border: 1px solid black;
}

/*# sourceMappingURL=style.css.map */
