* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .logo {
    display: none;
  }
}

footer {
  background-image: url(../Imagenes/bg-footer.jpg);
  background-position: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-items: top;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
footer .footerForm {
  text-align: center;
  padding: 5rem 30rem;
}
footer .footerForm h3 {
  font-family: "Oswald", "sans-serif";
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
footer .footerForm .inputFooterForm {
  background-color: rgba(24, 24, 24, 0.849);
  color: rgba(194, 193, 193, 0.61);
  width: 350px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(24, 24, 24, 0.849);
}
footer .footerForm a {
  background-color: #c7a17a;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", "sans-serif";
  letter-spacing: 0.8px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.6s;
}
footer .footerForm a:hover {
  background-color: white;
  color: black;
}
footer .contactGeneralFooter {
  display: flex;
  justify-content: space-around;
}
footer .contactGeneralFooter .contactFooterContainer {
  text-decoration: none;
}
footer .contactGeneralFooter .contactFooterContainer .footerTitles {
  font-family: "Oswald", "sans-serif";
  letter-spacing: 1px;
  margin-top: 10px;
}
footer .contactGeneralFooter .contactFooterContainer li {
  list-style: none;
  font-style: "Open Sans", "sans-serif";
  padding: 10px 0px;
}
footer .contactGeneralFooter .contactFooterContainer li span {
  font-weight: bold;
}
footer .contactGeneralFooter .contactFooterContainer li .cerrado {
  color: #c7a17a;
  font-weight: 500;
  text-transform: uppercase;
}
footer .contactGeneralFooter .footerRedesContainer {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
footer .contactGeneralFooter .footerRedesContainer .footerRedesTitle {
  font-family: "Oswald", "sans-serif";
  letter-spacing: 1px;
  animation: zoomIn;
  animation-duration: 2s;
}
@media (max-width: 400px) {
  footer .contactGeneralFooter .footerRedesContainer .footerRedesTitle {
    font-size: 1em;
  }
}
footer .contactGeneralFooter .footerRedesContainer ul {
  padding: 0;
}
footer .contactGeneralFooter .footerRedesContainer ul:hover a {
  filter: blur(2px);
}
footer .contactGeneralFooter .footerRedesContainer ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
footer .contactGeneralFooter .footerRedesContainer ul li a {
  display: block;
  /*Para que ocupen el espacio exacto que tienen que ocupar*/
  color: #bfbfbf;
  font-size: 30px;
  transition: all 0.6s;
}
footer .contactGeneralFooter .footerRedesContainer ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  filter: none;
}
footer .contactGeneralFooter .footerRedesContainer .linkInstagram:hover {
  color: #e4405f;
}
footer .contactGeneralFooter .footerRedesContainer .linkFacebook:hover {
  color: #3b5999;
}
footer .contactGeneralFooter .footerRedesContainer .linkTwitter:hover {
  color: #55acee;
}
footer .firmaFooter {
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 15px;
  margin-top: 10px;
}
footer .firmaFooter span {
  color: #c7a17a;
  letter-spacing: 1px;
}

header nav {
  animation-name: aparecer;
  animation-duration: 4s;
  z-index: 1;
  padding: 0 !important;
}
header nav ul {
  align-items: flex-end;
  padding-top: 5px;
}
@media (max-width: 400px) {
  header nav ul {
    align-items: flex-start !important;
  }
}
header nav ul li {
  font-family: "Cormorant Garamond" !important;
}
header nav ul li a {
  color: white !important;
  text-transform: uppercase !important;
  letter-spacing: 5px !important;
  font-size: 0.95em !important;
  transition: all 0.5s !important;
}
header nav ul li a:hover {
  color: #c7a17a !important;
}
@media (max-width: 980px) {
  header nav {
    position: fixed;
  }
}
.logo {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 2;
}

header .mainTitle {
  color: white;
  display: block;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-weight: lighter;
  position: absolute;
  left: 0;
  right: 0;
  top: 17rem;
  animation-duration: 4s;
  animation-name: aparecer;
}
@media (max-width: 400px) {
  header .mainTitle {
    color: floralwhite;
    font-size: 1.3rem;
    letter-spacing: 14px;
    padding-top: 60px;
  }
}

.errorContainer .errorDescription .errorButton, #shop .shopContainer .shopMarketContainer .shopMarketDescription a, #menuIndex .menuIndexDescription a {
  background-color: #c7a17a;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", "sans-serif";
  letter-spacing: 1.5px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.6s;
}
.errorContainer .errorDescription .errorButton:hover, #shop .shopContainer .shopMarketContainer .shopMarketDescription a:hover, #menuIndex .menuIndexDescription a:hover {
  background-color: white;
  color: black;
}

.methodsContainer .itemButton {
  background-color: black;
  padding: 11px;
  border-radius: 6px;
  color: white;
  letter-spacing: 1.5px;
  transition: all 0.6s;
  font-family: "Work Sans", sans-serif;
}
.methodsContainer .itemButton:hover {
  background-color: #eb9d29ef;
  color: black;
}

.menuBackground .menuListTea .menuImageTea, .menuBackground .menuListCoffee .menuImage, .menuBackground .menuListCroissant .menuImage {
  width: 15%;
  border-radius: 10%;
  box-shadow: -10px 10px 10px 5px black;
}

.menuBackground .menuListCoffee, .menuBackground .menuListCroissant {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: solid 0.2px grey;
}

.menuBackground .menuListTea .menuListItemsTea ul h4, .menuBackground .menuListCoffee .menuListItems ul h4, .menuBackground .menuListCroissant .menuListItems ul h4 {
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3em;
  letter-spacing: 4.5px;
  padding-bottom: 5px;
  font-weight: lighter;
  text-transform: uppercase;
}

.menuBackground .menuListTea .menuListItemsTea ul li, .menuBackground .menuListCoffee .menuListItems ul li, .menuBackground .menuListCroissant .menuListItems ul li {
  padding: 5px;
  padding-left: 0;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding-left: 0;
  transition: all 0.5s;
}

.navBarInicio {
  background-repeat: no-repeat;
  background-size: cover;
  height: 38rem;
  padding: 0;
  box-shadow: 0px 10px 20px 6px grey;
  background-image: url("../Imagenes/Portada-1.jpg");
  background-position: center;
}

h1 {
  display: none;
}

#nosotros {
  padding: 80px 150px;
  display: flex;
}
@media (max-width: 400px) {
  #nosotros {
    background-color: #f7e6d0;
    color: black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  #nosotros img {
    width: 100%;
    padding: 5px;
  }
  #nosotros p {
    font-size: 0.8rem;
    font-style: italic;
  }
}
#nosotros img {
  width: 25rem;
  box-shadow: -18px 24px 12px 0 rgba(0, 0, 0, 0.2);
  animation-name: aparecer;
  animation-duration: 4s;
}
@media (max-width: 400px) {
  #nosotros img {
    display: none;
  }
}
#nosotros div {
  padding: 70px 90px;
  text-align: justify;
  animation-name: aparecer;
  animation-duration: 4s;
}
@media (max-width: 400px) {
  #nosotros div {
    text-align: justify;
    padding: 35px 18px;
    animation-name: aparecer;
    animation-duration: 4s;
  }
}
#nosotros div h2 {
  margin-bottom: 15px;
  font-family: "Oswald", "sans-serif";
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}
@media (max-width: 400px) {
  #nosotros div h2 {
    color: #361919;
    text-align: center;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 6px;
    padding-top: 5px;
  }
}
#nosotros div p {
  letter-spacing: 1px;
  line-height: 40px;
  text-align: justify;
  font-family: "Open Sans", "sans-serif";
}
@media (max-width: 400px) {
  #nosotros div p {
    line-height: 27px;
  }
}

#nuestracasa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../Imagenes/shopIndexBackground.webp);
}
#nuestracasa h2 {
  font-family: "Oswald", "sans-serif";
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
}
#nuestracasa h2 span {
  color: #c28842;
}
#nuestracasa .carouselSize {
  padding: 1rem;
  width: 60%;
}

#menuIndex {
  background-image: url(../Imagenes/menuIndexBarista2.jpg);
  background-position: center;
  background-attachment: fixed;
}
#menuIndex .menuIndexDescription {
  padding: 25rem;
  text-align: center;
}
#menuIndex .menuIndexDescription h2 {
  font-family: "Oswald", "sans-serif";
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#shop {
  background-color: black;
  padding: 50px;
}
@media (max-width: 400px) {
  #shop {
    padding: 25px 0px;
    background-image: url(../Imagenes/mobileShopIndexBackground.webp);
    box-shadow: none;
  }
}
#shop h2 {
  color: white;
  letter-spacing: 5px;
  font-family: "Oswald", "sans-serif";
  font-size: 3.75rem;
  animation: zoomIn;
  animation-duration: 2s;
}
#shop h2 span {
  color: #c7a17a;
}
@media (max-width: 400px) {
  #shop h2 {
    font-size: 2.05rem;
    padding-top: 12px;
    font-weight: 800;
    animation-name: zoomIn;
    animation-duration: 2s;
  }
}
#shop p {
  color: #c7a17a;
  font-family: "Archivo Narrow", "sans-serif";
  letter-spacing: 1.5px;
}
#shop .shopContainer {
  background-image: url(../Imagenes/ShopIndexBackground-1.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
}
@media (max-width: 400px) {
  #shop .shopContainer {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
  }
}
#shop .shopContainer .shopMarketContainer {
  margin: 20px 60px;
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 400px) {
  #shop .shopContainer .shopMarketContainer {
    margin: 0;
  }
}
#shop .shopContainer .shopMarketContainer .shopMarketDescription {
  text-align: center;
}
#shop .shopContainer .shopMarketContainer .shopMarketDescription p {
  color: white;
  background-color: black;
}
#shop .shopContainer .shopMarketContainer img {
  width: 30rem;
  height: 40rem;
  animation: zoomIn;
  animation-duration: 2s;
  margin-left: 90px;
}
@media (max-width: 400px) {
  #shop .shopContainer .shopMarketContainer img {
    display: none;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menuBackground {
  background-image: url("../Imagenes/MenuBackgroundImage.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
@media (max-width: 400px) {
  .menuBackground .navBarMenu {
    height: 38rem;
  }
}
@media (max-width: 400px) {
  .menuBackground {
    background-image: url(../Imagenes/CoffeeshopBackgroundList1.jpg);
  }
}
.menuBackground .menuMain {
  color: nth white, black, #eb9d29ef, #FF8671, #c28842, #a7a4a4, 6;
  display: flex;
  flex-direction: column;
}
.menuBackground .menuDescription {
  width: 100%;
  margin-top: 295px;
  background-color: #918b8b;
  opacity: 0.4;
}
.menuBackground .menuDescription p {
  color: black;
  text-align: center;
  padding: 50px;
  letter-spacing: 2px;
  font-style: italic;
  z-index: 4;
  font-weight: bold;
  animation-name: aparecer;
  animation-duration: 7s;
}
@media (max-width: 400px) {
  .menuBackground .menuDescription p {
    padding-top: 15px;
  }
}
@media (max-width: 400px) {
  .menuBackground .menuDescription {
    display: none;
  }
}
.menuBackground .menuListCoffee, .menuBackground .menuListCroissant {
  color: #a7a4a4;
}
@media (max-width: 400px) {
  .menuBackground .menuListCoffee .menuImage, .menuBackground .menuListCroissant .menuImage {
    display: none;
  }
}
.menuBackground .menuListCoffee .menuListItems, .menuBackground .menuListCroissant .menuListItems {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  padding: 27px 27px 27px 75px;
}
@media (max-width: 400px) {
  .menuBackground .menuListCoffee .menuListItems, .menuBackground .menuListCroissant .menuListItems {
    padding: 0;
  }
}
.menuBackground .menuListCoffee .menuListItems ul, .menuBackground .menuListCroissant .menuListItems ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}
@media (max-width: 400px) {
  .menuBackground .menuListCoffee .menuListItems ul h4, .menuBackground .menuListCroissant .menuListItems ul h4 {
    animation-name: aparecer;
    animation-duration: 2s;
  }
}
@media (max-width: 400px) {
  .menuBackground .menuListCoffee .menuListItems ul li, .menuBackground .menuListCroissant .menuListItems ul li {
    animation-name: aparecer;
    animation-duration: 6s;
  }
}
.menuBackground .menuListCoffee .menuListItems ul li:hover, .menuBackground .menuListCroissant .menuListItems ul li:hover {
  color: #eb9d29ef;
  transform: translateY(-6px) scale(1.03);
}
.menuBackground .menuListTea {
  color: #a7a4a4;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  border-bottom: solid 0.2px grey;
}
.menuBackground .menuListTea .menuListItemsTea {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  text-align: end;
  padding: 27px 75px 27px 27px;
}
@media (max-width: 400px) {
  .menuBackground .menuListTea .menuListItemsTea {
    padding: 0;
    text-align: left;
  }
}
.menuBackground .menuListTea .menuListItemsTea ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}
.menuBackground .menuListTea .menuListItemsTea ul h4 {
  text-align: end;
}
@media (max-width: 400px) {
  .menuBackground .menuListTea .menuListItemsTea ul h4 {
    animation-name: aparecer;
    animation-duration: 5s;
  }
}
@media (max-width: 400px) {
  .menuBackground .menuListTea .menuListItemsTea ul li {
    animation-name: aparecer;
    animation-duration: 5s;
  }
}
.menuBackground .menuListTea .menuListItemsTea ul li:hover {
  color: #eb9d29ef;
  transform: translateY(-6px) scale(1.03);
}
@media (max-width: 400px) {
  .menuBackground .menuListTea .menuImageTea {
    display: none;
  }
}

.navBarCoffeeShop {
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  padding: 0;
  box-shadow: 0px 10px 20px 6px grey;
  background-image: url(../Imagenes/PortadaCoffeeShop.webp);
  background-position: center;
}

.mainCoffeeShop {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  padding: 25px;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}
@media (max-width: 400px) {
  .mainCoffeeShop {
    padding: 2px;
  }
}
.mainCoffeeShop h2 {
  text-align: center;
  align-items: center;
  letter-spacing: 4.8px;
  font-size: 2rem;
  margin-top: 18px;
}
@media (max-width: 400px) {
  .mainCoffeeShop h2 {
    font-size: 1.6rem;
  }
}
.mainCoffeeShop p {
  text-align: center;
  align-items: center;
  padding: 0 25%;
  margin-bottom: 6%;
  letter-spacing: 0.7px;
  text-transform: initial;
  font-size: 1.05rem;
  font-style: italic;
  font-family: "Work Sans", sans-serif;
}
.mainCoffeeShop p span {
  color: #eb9d29ef;
}
@media (max-width: 400px) {
  .mainCoffeeShop p {
    padding: 5%;
    text-align: justify;
    font-size: 0.9rem;
  }
}
.mainCoffeeShop .cardContainer {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
@media (max-width: 400px) {
  .mainCoffeeShop .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    margin: 10px;
    border: 1px solid #cfcece;
    border-radius: 12px;
  }
}
.mainCoffeeShop .cardContainer .cardImage {
  width: 11%;
  border-radius: 10px;
  box-shadow: -15px -10px 22.5px 0px black;
}
@media (max-width: 400px) {
  .mainCoffeeShop .cardContainer .cardImage {
    width: 100%;
    height: 200px;
    box-shadow: none;
    object-fit: cover;
    border-radius: inherit;
    padding: 3px;
  }
}
.mainCoffeeShop .cardContainer .cardDescription {
  width: 45%;
  margin-left: 25px;
}
@media (max-width: 400px) {
  .mainCoffeeShop .cardContainer .cardDescription {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    width: 100%;
    margin: 0px;
  }
}
.mainCoffeeShop .cardContainer .cardDescription h4 {
  border-bottom: 1px solid #dfdede;
  letter-spacing: 6px;
  color: #eb9d29ef;
}
@media (max-width: 400px) {
  .mainCoffeeShop .cardContainer .cardDescription h4 {
    margin: 20px;
  }
}
.mainCoffeeShop .cardContainer .cardDescription p {
  text-align: justify;
  text-transform: initial;
  letter-spacing: 0.4px;
  color: black;
  padding: 15px 0px;
  font-style: normal;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}
@media (max-width: 400px) {
  .mainCoffeeShop .cardContainer .cardDescription p {
    padding: 12px;
  }
}
.mainCoffeeShop .cardContainer .cardDescription a {
  background-color: black;
  padding: 11px;
  border-radius: 6px;
  color: white;
  letter-spacing: 1.5px;
  transition: all 0.6s;
  font-family: "Work Sans", sans-serif;
}
.mainCoffeeShop .cardContainer .cardDescription a:hover {
  background-color: #eb9d29ef;
  color: black;
}
@media (max-width: 400px) {
  .mainCoffeeShop .cardContainer .cardDescription a {
    margin-bottom: 14px;
  }
}

.navBarMethodShop {
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  padding: 0;
  box-shadow: 0px 10px 20px 6px grey;
  background-image: url(../Imagenes/PortadaMetodShop.webp);
}

.mainMethodShop {
  margin: 3rem;
}
.mainMethodShop h2 {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Cormorant Garamond";
}
.mainMethodShop h4 {
  color: #FF8671;
  font-family: "Cormorant Garamond";
  font-size: 1.5em;
  letter-spacing: 1.5px;
  padding: 1px;
  font-weight: bolder;
}
.mainMethodShop p {
  text-align: justify;
  font-style: italic;
  margin-bottom: 5rem;
  padding: 0 20rem;
}
.mainMethodShop p span {
  color: #eb9d29ef;
}

.methodsContainer {
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}
.methodsContainer li {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  width: 30rem;
  margin-bottom: 60px;
}
.methodsContainer li:hover {
  transform: translateY(-6px) scale(1.03);
  transition: 0.9s;
  cursor: pointer;
}
.methodsContainer li img {
  width: 6rem;
  height: 8rem;
}
.methodsContainer li p {
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
}
.methodsContainer .itemButton {
  text-transform: uppercase;
}

.errorContainer {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "quicksand", sans-serif;
}
.errorContainer img {
  width: 45rem;
  box-shadow: 10px 0px 30px grey;
}
.errorContainer .errorDescription {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin: 0% 10%;
}
.errorContainer .errorDescription h1 {
  color: #eb9d29ef;
  font-size: 10rem;
}
.errorContainer .errorDescription h2, .errorContainer .errorDescription h3 {
  color: #c28842;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.errorContainer .errorDescription p {
  text-align: center;
  text-transform: uppercase;
  line-height: 2.05rem;
  margin-bottom: 2rem;
  letter-spacing: 1.3px;
}
.errorContainer .errorDescription p span {
  color: #eb9d29ef;
  font-weight: bold;
}
.errorContainer .errorDescription .errorButton {
  border: 1px solid white;
  width: 15rem;
  animation: none;
}
.errorContainer .errorDescription .errorButton:hover {
  border: 1px solid black;
}

/*# sourceMappingURL=style.css.map */
