@import '../base/fonts';
@import '../base/colors';

%coverPageStandard {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .transparentBox {
        height: 40%;
    }

    h2 {
        height: 25%;
        text-align:center;
        color: white;
        font-family: $fontTitlesStandard;
        text-transform: uppercase;
        letter-spacing: 25px;
    }
    
    .menuTitleLine {
        color: $colorDefault;
        margin-top: -200px;
        font-size: 3rem;
    }
}

%logo {
    position: absolute;
    top:0;
    left: 10px;
    z-index: 2;
}

%titleSectionStyle {
    color: white;
    display: block;
    font-family:'Cormorant Garamond', serif;
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: lighter;
    position:absolute;
    left: 0;
    right: 0;
    top: 17rem;
    animation-duration: 4s;
    animation-name: aparecer;

        @media (max-width: 400px) {
            color: floralwhite;
            font-size: 1.3rem;
            letter-spacing: 14px;
            padding-top: 60px;
        }
}

%button {
    background-color: #c7a17a;
    color: white;
    text-transform: uppercase;
    font-family: $fontTextStandard;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.6s;

    &:hover {
        background-color: white;
        color: black;
    }
}

%itemsButton {
    background-color: black;
    padding: 11px;
    border-radius: 6px;
    color: white;
    letter-spacing: 1.5px;
    transition: all 0.6s;
    font-family: 'Work Sans', sans-serif;


    &:hover {
        background-color: nth($color , 3);
        color: black;
        }
}

%menuImageStyle {
    width: 15%;
    border-radius: 10%;
    box-shadow: -10px 10px 10px 5px black;
}

%menuContainerStyle {
    display: flex;
    align-items: center;
    padding: 30px;
    border-bottom: solid 0.2px grey;
}

%menuListItemsH4Style {
    display: block;
    font-family:'Cormorant Garamond', serif;
    font-size: 1.3em; 
    letter-spacing: 4.5px; 
    padding-bottom: 5px; 
    font-weight: lighter;
    text-transform: uppercase;
}

%menuListItemsLiStyle {
    padding: 5px;
    padding-left: 0;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding-left: 0;
    transition: all 0.5s;
}