
@mixin prefijos ($kits) {
    -webkit-transform: $kits;
    -o-transform: $kits;
    -moz-transform: $kits;
    transform: $kits;
}

@mixin boxStyle ($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin animationDefault ($aniName, $aniDur) {
    animation-name: $aniName;
    animation-duration: $aniDur;
}

@mixin backgroundStyle ($bgRep, $bgSz, $bgPst, $heigh) {
    background-repeat: $bgRep;
    background-size: $bgSz;
    background-position: $bgPst;
    height: $heigh;
}