.coverPageIndex {
    background-image: url('../Imagenes/portadaIndex.webp');
    @include backgroundStyle (no-repeat, cover, center, 55rem);
    @extend %coverPageStandard;
}

.coverPageCoffeeShop {
    background-image: url('../Imagenes/PortadaCoffeeShop1.webp');
    @include backgroundStyle (no-repeat, cover, center, 55rem);
    @extend %coverPageStandard;
}

.coverPageMethodShop {
    background-image: url('../Imagenes/PortadaMetodShop.webp');
    @include backgroundStyle (no-repeat, cover, center, 55rem);
    @extend %coverPageStandard;
}