header {
    nav {
        @include animationDefault (aparecer, 4s);
                ul {      
                    li {
                        font-family: $fontTextStandard!important;
                        
                        a {
                            letter-spacing: 2px !important;
                            color: white !important;
                            text-transform: uppercase !important;
                            transition: all 0.5s !important;
                                           
                            &:hover {
                                color:$colorDefault !important;
                            }
                        }
                    }
                }
   
        @media (max-width: 980px) {
            position: fixed;
        }
    
    }

}

