header {
    nav {
        @include animationDefault (aparecer, 4s);
        z-index: 1;
        padding: 0 !important;
                ul {
                    align-items: flex-end;
                    padding-top:5px;
                    @media (max-width: 400px) {
                        align-items: flex-start !important;
                    }                  
                    li {
                        font-family: 'Cormorant Garamond'!important;
                        a {
                            color: nth($color, 1)!important;
                            padding: 12px !important;
                            text-transform: uppercase !important;
                            letter-spacing: 5px !important;
                            font-size: 0.95em !important;
                            transition: all 0.5s !important;
            
                            &:hover {
                                color: nth($color , 3) !important;
                            }
                        }
                    }
                }
   
        @media (max-width: 400px) {
            position: fixed;
        }
    
    }

    .mainTitle {
        @extend %titleSectionStyle;
        
    }
}

