body {
    background-image: url(../Imagenes/bg-blog-image.jpg);
    background-repeat: repeat; 
}

#sortBy {
    margin-top: 20px;
    max-width: 20rem;
    color: black;
}

#tituloCarrito {
    background-image: url(../Imagenes/coffeeBeans.jpg);
    background-position: top;
    height: 2.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: $fontTitlesStandard;
    letter-spacing: 5px;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;

}

#tablasGeneral {
    align-content: center;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

    .tablasTitle {
    color: $colorDefault;
    align-items: center;
    font-family: $fontTitlesStandard;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 20px;;
    }
}


#cardsGeneral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    

    .cards {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
        border: 1px rgb(175, 174, 174) solid ;
        border-radius: 4px;
        margin: 20px;
        background-color: rgb(250, 249, 249);
        padding: 2px;
        box-shadow: 10px 7px 5px rgb(175, 173, 173);
        
        .cardsTitle {
            font-family: $fontTitlesStandard;
            margin-top: 20px;
            font-size: 1.5rem;
            letter-spacing: 1px;
            color: $colorDefault;
            text-transform: uppercase;
            
        }
        
        .cardsDescription {
            font-family: $fontDetailsStandard;
            font-size: 1rem;
            letter-spacing: 0.5px;
        }

        .cardsPrecio {
            font-weight: bold;
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: inherit;
            
        }
        button {
            @extend %button;
            padding: 7px;
            border: 1px;
            margin-bottom: 3px;
            
        }

        .cardsButtonDelete {
            margin-left: 20px;
            background-color: rgb(247, 75, 75);
        }
    }
}

