
header {
    .mainTitle {
        display: none;
    }
}

.coverPageCoffeeShop {
    .menuTitleLine {
        margin-top: -230px;
    }
}

.coffeeShopIntro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 468px;
    margin: 100px 40px;

    .aboutMarket {
        background-image: url(../Imagenes/about-bg.png);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        height: 456px;

        .aboutMarketTitleMini {
            font-family: $fontTitlesStandard;
            font-weight: bold;
            color: $colorDefault;
            font-size: 24px;
            margin: 0;
            margin-bottom: -10px;

        }

        h2 {
            font-family: $fontTitlesStandard;
            font-weight: bold;
            font-size: 60px;
            margin-bottom: 20px;
        }

        p {
            font-family: $fontTextStandard;
            font-size: 24px;
            text-align: justify;
            padding-right: 129px;
        }
    }

    .aboutMarketDescription {
        max-width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .marketDescriptionItems {
            margin: 10px;
        }
        
        img {
            margin-bottom: 7px
        }
    }
}

.separator {
    height: 300px;
    background-image:url(../Imagenes/coffeeBeans.webp);
    background-repeat: repeat;
    background-attachment: fixed;
    box-shadow:inset 0 0 35px 20px black;
}

.ourCoffee {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    

    img {
        width: 50%;
        border-radius: 15px;
        box-shadow: 0 0 35px 20px black;
    }

    .ourCoffeeDetail {
        color: white;
        font-family: $fontTitlesStandard;
        font-size: 40px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: -1px;

        p {
            padding: 40px;
            font-size: $fontSizeTitles;
        }

        a {
            @extend %button;
            font-size: 20px;
        }
    }
}
    
    

.mainCoffeeShop {

    background-image: url(../Imagenes/bg-blog-image.jpg);
    background-repeat: repeat; 
     @include boxStyle (column, none, center);
     padding: 25px;
     text-transform: uppercase;
     font-family: nth($fontFamily, 4), serif;
     @media (max-width: 400px) {
         padding: 2px;    
     }


    .mainCoffeeShopDescription {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 50%;
        margin-bottom: 50px;

        h2 {
            align-items: flex-start;
            letter-spacing: 4.8px;
            font-family: $fontTitlesStandard;
            font-size: $fontSizeBase*4;
            margin-top: 18px;
    
            @media (max-width: 400px) {
                font-size: 1.6rem;
            }
         }
         
         p {
             text-align: start;
             align-items: flex-start;
             padding-right: 20%;
             margin-bottom: 6%;
             font-family: $fontDetailsStandard;
             letter-spacing: 1.5px;
             text-transform: initial;
             font-size: 1.2rem;
     
             span {
                 color: nth($color ,3);
             }
     
             @media (max-width: 400px) {
                 padding: 5%;
                 text-align: justify;
                 font-size: 0.9rem;
             }
         }
    }

    .cardContainer {
        @include boxStyle (none, center, center);
        margin-bottom: 70px;

        @media (max-width: 400px) {
            @include boxStyle (column, none, none);
            margin: 10px;
            border: 1px solid rgb(207, 206, 206);
            border-radius: 12px;
        }
        .cardImage {
            width: 11%;
            border-radius: 10px;
            box-shadow: $coffeeShopImageShadows;

            @media (max-width: 400px) {
                width: 100%;
                height: 200px;
                box-shadow: none;
                object-fit: cover;
                border-radius: inherit;
                padding: 3px;
            }
        }

        .cardDescription {
            width: 45%;
            margin-left: 25px;

            @media (max-width: 400px) {
                @include boxStyle (column, none, center);
                width: 100%;
                margin: 0px;
            }

            h4 {
                border-bottom: 1px solid rgb(223, 222, 222);
                letter-spacing: $letterSpacingBase + 2;
                color: nth($color , 3);

                @media (max-width: 400px) {
                    margin: 20px;
                }
            }
            
            p {
                text-align: justify;
                text-transform: initial;
                letter-spacing: 0.4px;
                color: black;
                padding: 15px 0px;
                font-style: normal;
                font-family: 'Work Sans', sans-serif;
                font-size: 1rem;

                @media (max-width: 400px) {
                    padding: 12px;
                }
            }

            a {
                @extend %button;
                
                &:hover {
                    background-color: black;
                    color: white;
                }

                @media (max-width: 400px) {
                    margin-bottom: 14px;
                }
            }
        }

    }
}

@media (max-width: 992px) {
    .coffeeShopIntro {
        .aboutMarket {
            p {
                font-size: 15px;
            }
        }

        .aboutMarketDescription {
            .marketDescriptionItems {
                p {
                    font-size: 15px;
                }
            }
        }
    }

    .mainCoffeeShop {
        .mainCoffeeShopDescription {
            padding-right: 30%;
        }
    }
}

@media (max-width: 768px) {
    
    .coverPageCoffeeShop {
        height: 45rem;

        .menuTitleLine {
            margin-top: -188px;
        }
    }
    
    .coffeeShopIntro {
        margin: 90px 10px;
        padding: 0;
        .aboutMarket {
            .aboutMarketTitleMini{
                font-size: 20px;
            }

            h2 {
                font-size: 43px;
            }

            p {
                font-size: 15px;
                padding: 5px;
            }
        }

        .aboutMarketDescription {
            .marketDescriptionItems {
                
                img {
                    width: 37px;
                }
                
                h3 {
                    font-size: 1.3rem;
                }

                p {
                    font-size: 13px;
                }
            }
        }

    }

    .separator {
        height: 170px;
    }

    .ourCoffee {
        .ourCoffeeDetail {
            p {
                font-size: 2rem;
            }
            a {
                font-size: 1rem;
            }
        }
    }

    .mainCoffeeShop {
        .mainCoffeeShopDescription {
            padding-right: 20%;
        }

        .cardContainer {
            .cardImage {
                width: 20%;
            }
            .cardDescription {
                p {
                    font-size: 0.95rem;
                }
            }
        }
    }


}

@media (max-width: 576px) {
    .coverPageCoffeeShop {
        height: 30rem;

        .menuTitleLine {
            margin-top: -130px;
        }
    }

    .coffeeShopIntro {

        margin: 15px 10px;

        .aboutMarket {
            justify-content: center;
        }
        .aboutMarketDescription {
            display: none;
        }
    }

    .separator {
        height: 110px;
    }

    .ourCoffee {
        .ourCoffeeDetail {
            p {
                padding: 0;
                font-size: 1.5rem;
            }

            a {
                font-size: 1rem;
            }
        }
    }

    .mainCoffeeShop {
        .mainCoffeeShopDescription {
            padding-right: 10%;
            
            h2 {

                font-size: 47px;
            }

            p {
                font-size: 1rem;
            }

        }

        .cardContainer {
            .cardImage {
                width: 30%;
            }

            .cardDescription {
                p {
                    font-size: 0.8rem;
                }
                a {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .coverPageCoffeeShop {

        height: 25rem;

        h2 {
            font-size: 1rem;
            letter-spacing: 20px;
        }

        .menuTitleLine {
            margin-top: -115px;
            font-size: 2rem;
        }
    }

    .separator {
        height: 72px;
    }

    .ourCoffee {
        display: flex;
        flex-direction: column;

        .ourCoffeeDetail {
            a {
                font-size: 0.8rem;
            }
        }
    }

    .mainCoffeeShop {
        .mainCoffeeShopDescription {
            padding: 0;
            align-items: center;

            h2 {
                font-size: 36px;
            }
        }
    }
}