.navBarCoffeeShop {
    @include backgroundStyle (no-repeat, cover, 50rem, 0);
    background-image: url(../Imagenes/PortadaCoffeeShop.webp);
    background-attachment: fixed;
}

.coffeeShopIntro {
    display:flex;
    justify-content: space-around;

    .aboutMarket {
        background-image: url(../Imagenes/about-bg.png);
        background-repeat: no-repeat;
        max-width: 50%;

        .aboutMarketTitleMini {
            font-family: $fontTitlesStandard;
            font-weight: bold;
            color: $colorDefault;
            font-size: 24px;
            margin: 0;
            margin-bottom: -10px;

        }

        h2 {
            font-family: $fontTitlesStandard;
            font-weight: bold;
            font-size: 60px;
        }

        .aboutMarketDescription {
            font-family: $fontTextStandard;
            font-size: 24px;
            padding-right: 70px;
            text-align: left;
        }
    }

    .aboutMarketDescription {
        max-width: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .marketDescriptionItems {
            margin: 50px;
        }
        
    }
}

.mainCoffeeShop {
     @include boxStyle (column, none, center);
     padding: 25px;
     text-transform: uppercase;
     font-family: nth($fontFamily, 4), serif;
     @media (max-width: 400px) {
         padding: 2px;    
     }



    h2 {
        text-align: center;
        align-items: center;
        letter-spacing: 4.8px;
        font-size: $fontSizeBase*2;
        margin-top: 18px;

        @media (max-width: 400px) {
            font-size: 1.6rem;
        }
     }

    p {
        text-align: center;
        align-items: center;
        padding: 0 25%;
        margin-bottom: 6%;
        letter-spacing: 0.7px;
        text-transform: initial;
        font-size: 1.05rem;
        font-style: italic;
        font-family: 'Work Sans', sans-serif;

        span {
            color: nth($color ,3);
        }

        @media (max-width: 400px) {
            padding: 5%;
            text-align: justify;
            font-size: 0.9rem;
        }
    }
    .cardContainer {
        @include boxStyle (none, center, center);
        margin-bottom: 70px;

        @media (max-width: 400px) {
            @include boxStyle (column, none, none);
            margin: 10px;
            border: 1px solid rgb(207, 206, 206);
            border-radius: 12px;
        }
        .cardImage {
            width: 11%;
            border-radius: 10px;
            box-shadow: $coffeeShopImageShadows;

            @media (max-width: 400px) {
                width: 100%;
                height: 200px;
                box-shadow: none;
                object-fit: cover;
                border-radius: inherit;
                padding: 3px;
            }
        }

        .cardDescription {
            width: 45%;
            margin-left: 25px;

            @media (max-width: 400px) {
                @include boxStyle (column, none, center);
                width: 100%;
                margin: 0px;
            }

            h4 {
                border-bottom: 1px solid rgb(223, 222, 222);
                letter-spacing: $letterSpacingBase + 2;
                color: nth($color , 3);

                @media (max-width: 400px) {
                    margin: 20px;
                }
            }
            
            p {
                text-align: justify;
                text-transform: initial;
                letter-spacing: 0.4px;
                color: black;
                padding: 15px 0px;
                font-style: normal;
                font-family: 'Work Sans', sans-serif;
                font-size: 1rem;

                @media (max-width: 400px) {
                    padding: 12px;
                }
            }

            a {
                background-color: black;
                padding: 11px;
                border-radius: 6px;
                color: white;
                letter-spacing: 1.5px;
                transition: all 0.6s;
                font-family: 'Work Sans', sans-serif;


                &:hover {
                    background-color: nth($color , 3);
                    color: black;
                }

                @media (max-width: 400px) {
                    margin-bottom: 14px;
                }
            }
        }

    }
}
