
h1 {
    display: none;
}

#nosotros {
    padding: 80px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

        img {
            width: 25rem;
            height: fit-content;
            box-shadow: -18px 24px 12px 0 rgb(0, 0, 0, .2);
            @include animationDefault (aparecer, 4s);

        }
        div {
            padding: 70px 90px;
            text-align: justify;
            @include animationDefault (aparecer, 4s);
    
            h2 {
                margin-bottom: 15px;
                font-family: $fontTitlesStandard;
                font-size: $fontSizeTitles;
                text-transform: uppercase;
                font-weight: 400;
            }
            p {
                letter-spacing: 1px;
                line-height: 40px;
                text-align: justify;
                font-family: $fontTextStandard;
            }
        }   
}

#nuestraCasa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Imagenes/nuestraCasaBackground.webp);
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;

    h2 {
        font-family: $fontTitlesStandard;
        font-size: $fontSizeTitles;
        color: white;
        text-align: center;
        margin: 2rem;
        text-transform: uppercase;

        span {
            color: nth($color, 5);
        }
    }

    .carouselSize {
        padding: 1rem;
        width: 60%;
    }

}

#menuIndex {
    background-image: url(../Imagenes/menuIndexBarista.webp);
    background-position: center;
    background-attachment: fixed;
    height: 50rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    .transparentBox {
        height: 45%;
    }

    .menuIndexDescription {
        

        h2 {
            font-family: $fontTitlesStandard;
            color: white;
            font-size: $fontSizeTitles;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        a {
            @extend %button;

        }
    }

}

#shop {
    background-color: black;
    padding: 50px;
    padding-bottom: 10px;

    h2 {
        color: white;
        letter-spacing: nth($letterSpacing , 2);
        font-family: $fontTitlesStandard;
        font-size: $fontSizeTitles*1.5;
        animation: zoomIn;
        animation-duration: 2s;
        
        span {
            color: $colorDefault;
        }
            
    }

        p {
            color: $colorDefault;
            font-family: $fontDetailsStandard;
            letter-spacing: 1.5px;
        }

        .shopContainer {
            background-image: url(../Imagenes/ShopIndexBackground.webp);
            background-repeat: no-repeat;
            background-attachment: fixed;

            @include boxStyle (column, space-between, none);
            flex-wrap: wrap;

            .shopMarketContainer {
                margin: 20px 60px;
                @include boxStyle (none, space-evenly, center);
                
                .shopMarketDescription {

                    text-align: center;

                    p {
                        color: white;
                        background-color: black;
                    }

                    a {
                        @extend %button;
                    }

                }
                img {
                    width: 27rem;
                    animation: zoomIn;
                    animation-duration: 2s;

                }
            }
        }
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    
    .coverPageIndex {
        
        h2 {
            letter-spacing: 17px;
        }
    }
    
    #nosotros {
        flex-direction: column;
        img {
            width: 20rem;
        }
    }

    #shop {
      
       .shopContainer {
           .shopMarketContainer {
             margin: 20px 0;
             
             img {
                 width: 20rem;
             }
           }  
       }
    }
}

@media (max-width: 768px) {
    .coverPageIndex {
        height: 40rem;

        h2 {
            font-size: 1.5rem;
        }

        .menuTitleLine {
            margin-top: -140px;
        }
    }

    #nosotros {
        .nosotrosDescription {
            h2 {
                font-size: 2.5rem;
            }
        }
    }

    #nuestraCasa {
        h2 {
            font-size: 2.5rem;
        }
    }

    #menuIndex {
        .menuIndexDescription {
            h2 {
                font-size: 2.5rem;
            }
        }
    }

    #shop {
        h2 {
            font-size: 4rem;
        }
        .shopContainer {
            .shopMarketContainer {
                .shopMarketDescription {
                    p {
                        font-size: 0.9rem;
                    }
                    a {
                        font-size: 0.9rem;
                    }
                }
                img {
                    width: 15rem;
                }
            }
        }
    }
}

@media (max-width: 684px) {
    
    .coverPageIndex {
        
        height: 20rem;
        justify-content: center;

        .transparentBox {
            display: none;
        }
        .menuTitleLine {
            font-size: 1rem;
            margin-top: 0;
        }
    
        h2 {
            font-size: 1rem;
            letter-spacing: 10px;
            height: 1rem;
    
        }
    }

    #nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px;

        img {
            width: 20rem;
        }

        .nosotrosDescription {
            padding: 70px 12px 10px;

            h2 {
                font-size:2rem;
            }

            p {
                font-size: small;
                line-height: 28px;
            }
        }
    }

    #nuestraCasa {
        
        padding: 25px;

        h2 {
            font-size: 2rem;
        }

        .carouselSize {
            width: 90%;
        }

    }

    #menuIndex {
        .menuIndexDescription {
            padding: 15rem 2rem;
        }
    }

    #shop {

        padding: 50px 30px;

        h2 {
            font-size: 3.5rem;
        }
        p {
            font-size: small;
        }

        .shopContainer {
            .shopMarketContainer {
                margin: 20px 5px;

                a {
                    font-size: small;
                }

                img {
                    width: 15rem;
                    height: 18rem;
                    margin: 20px;
                }
            }


        }
    }
}

@media (max-width: 488px) {
    .coverPageIndex {
        
        height: 20rem;
        justify-content: center;

        .transparentBox {
            display: none;
        }
        .menuTitleLine {
            font-size: 1rem;
            margin-top: 0;
        }
    
        h2 {
            font-size: 1rem;
            letter-spacing: 6px;
            height: 1rem;
    
        }
    }

    #nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;

        img {
            width: 15rem;
        }

        .nosotrosDescription {
            padding: 40px 0 0 0;

            h2 {
                font-size:2rem;
            }

            p {
                font-size: smaller;
                letter-spacing: 0;
            }
        }
    }

    #nuestraCasa {
        
        margin: 10px, auto;
        padding: 10px;

        h2 {
            font-size: 2rem;
        }

        .carouselSize {
            width: 90%;
        }

    }

    #menuIndex {
        height: 33rem;
        .menuIndexDescription {
            padding: 15rem 2rem;
            h2 {
                font-size: 2rem;
            }
        }
    }

    #shop {

        padding: 50px 3px;

        h2 {
            font-size: 3.5rem;
        }
        p {
            font-size: small;
        }

        .shopContainer {
            .shopMarketContainer {
                flex-direction: column-reverse;
                margin: 20px 5px;

                a {
                    font-size: small;
                }

                img {
                    width: 15rem;
                    height: 18rem;
                    margin: 20px;
                }
            }

            .shopMarketContainerMethod {
                flex-direction: column;
                img {
                    height: 23rem;
                }
            }


        }
    }
}