.navBarInicio {
    @include backgroundStyle (no-repeat, cover, 38rem, 0);
    background-image: url('../Imagenes/Portada-1.jpg');
    background-position: center;    
}

h1 {
    display: none;
}

#nosotros {
    padding: 80px 150px;
    display: flex;
    @media (max-width: 400px) {
        background-color: nth($bgColors, 2);
        color: black;
        padding: 0px;
        @include boxStyle (column, none, center);

        img {
            width: 100%;
            padding: 5px;
        }

        p {
            font-size: 0.8rem;
            font-style: italic;
        }
    }
        img {
            width: 25rem;
            box-shadow: -18px 24px 12px 0 rgb(0, 0, 0, .2);
            @include animationDefault (aparecer, 4s);

            @media (max-width: 400px) {
                display: none;
            }
        }
        div {
            padding: 70px 90px;
            text-align: justify;
            @include animationDefault (aparecer, 4s);

            @media (max-width: 400px) {
                text-align: justify;
                padding: 35px 18px;
                @include animationDefault (aparecer, 4s);
            }
            
            h2 {
                margin-bottom: 15px;
                font-family: $fontTitlesStandard;
                font-size: 3rem;
                text-transform: uppercase;
                font-weight: 400;
                @media (max-width: 400px) {
                    color: $titleColors;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: 'Cormorant Garamond', serif;
                    letter-spacing: 6px;
                    padding-top: 5px;
                }

            }
            p {
                letter-spacing: 1px;
                line-height: 40px;
                text-align: justify;
                font-family: $fontTextStandard;

                @media (max-width: 400px) {
                    line-height: 27px;
                }
            }
        }   
}

#nuestracasa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Imagenes/shopIndexBackground.webp) ;

    h2 {
        font-family: $fontTitlesStandard;
        font-size: $fontSizeTitles;
        text-align: center;
        margin: 2rem;
        text-transform: uppercase;

        span {
            color: nth($color, 5);
        }
    }

    .carouselSize {
        padding: 1rem;
        width: 70%;
    }

}

#menuIndex {
    background-image: url(../Imagenes/menuIndexBarista2.jpg);
    background-position: center;
    background-attachment: fixed;

    .menuIndexDescription {
        padding: 25rem;
        text-align: center;

        h2 {
            font-family: $fontTitlesStandard;
            color: white;
            font-size: $fontSizeTitles;
            text-transform: uppercase;
        }

        a {
            padding: 8px 20px;
            margin-top: 20px;
            border-radius: 7px;
            background-color: nth($color, 5);
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: $fontTextStandard;
            display: inline-block;
            transition: all 0.6s;

            &:hover {
                color: black;
                background-color: burlywood;
            }

        }
    }

}

#shop {
    background-color: black;
    padding: 50px;

    @media (max-width: 400px) {
        padding: 25px 0px;
        background-image: url(../Imagenes/mobileShopIndexBackground.webp);
        box-shadow: none;
    }

        h2 {
            color: white;
            letter-spacing: nth($letterSpacing , 2);
            font-family: $fontTitlesStandard;
            font-size: $fontSizeTitles*1.5;
            animation: zoomIn;
            animation-duration: 2s;
            
            span {
                color: nth($color, 5)
            }
            @media (max-width: 400px) {
                font-size: 2.05rem;
                padding-top: 12px;
                font-weight: 800;
                @include animationDefault (zoomIn, 2s);
            }
        }

        p {
            color: nth($color , 5);
            font-family: $fontDetailsStandard;
            letter-spacing: 1.5px;
        }

        .shopContainer {
            background-image: url(../Imagenes/ShopIndexBackground-1.jpg);
            background-position: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;

            @include boxStyle (column, space-between, none);
            flex-wrap: wrap;

            @media (max-width: 400px) {
                @include boxStyle (column, none, none);
            }

            .shopMarketContainer {
                margin: 20px 60px;
                @include boxStyle (none, space-evenly, center);
                
                @media (max-width: 400px) {
                    margin: 0;                    
                }

                .shopMarketDescription {

                    text-align: center;

                    p {
                        color: white;
                        background-color: black;
                    }

                    a {
                        padding: 8px 20px;
                        margin-top: 20px;
                        border-radius: 7px;
                        background-color: nth($color, 5);
                        text-decoration: none;
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-family: $fontTextStandard;
                        display: inline-block;
                        transition: all 0.8s;

                        &:hover {
                            color: black;
                            background-color: burlywood;
                        }

                        @media (max-width: 400px) {
                            @include animationDefault (aparecer, 7s);
                            margin: 15px 25px;
                        }
                    }
                }

                img {
                    width: 30rem;
                    height: 40rem;
                    animation: zoomIn;
                    animation-duration: 2s;
                    margin-left: 90px;

                    @media (max-width: 400px) {
                        display: none;
                    }
                }
            }
        }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}