.video {
    height: 50rem;
    overflow: hidden;
}

.menuTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: $fontTitlesStandard;
    font-size: $fontSizeTitles;
    text-transform: uppercase;
    padding: 5rem 0;

    span {
        color: $colorDefault;
    }

    .menuTitleLine {
        color: $colorDefault;
        align-items: center;
        margin-top: -35px;
        
    }
}

.menuGeneral {
    background-image: url(../Imagenes/menuBackgroundNew.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}

.menuLists {
    display: flex;
    flex-direction: row;
    margin: 30px 20px 0px 20px;

    .coffeeMenuList {
        display: flex;
        flex-direction: column;
        margin: 20px;

        h3 {
            color: white;
            font-family: $fontTitlesStandard;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-bottom: 25px;
        }

        .coffeeDetailContainer {
            display: flex;
            align-items: flex-start;
            box-sizing: border-box;
            margin: 20px 0px;

            img {
                border-radius: 100%;
                width: 80px; 
            }

            .coffeeDetail {

                margin-left: 10px;

                .coffeeDetailTitle {
                    font-family: $fontTitlesStandard;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: white;
                }

                .coffeeDetailLine {
                    color: white;
                    span {
                        font-weight: bold;
                    }
                }
            
                .coffeeDetailDetail {
                    font-family: $fontDetailsStandard;
                    color:$colorDefault;
                    letter-spacing: 1px;
                }
            }
        }
    }
}