.video {
    padding: 1rem 0;
    background-image:url(../Imagenes/coffeeBeans.webp);
    background-repeat: repeat;
    background-attachment: fixed;

}

.menuTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: $fontTitlesStandard;
    font-size: $fontSizeTitles;
    text-transform: uppercase;
    padding: 5rem 0;

    span {
        color: $colorDefault;
    }

    .menuTitleLine {
        color: $colorDefault;
        align-items: center;
        margin-top: -35px;
        
    }
}

#menuGeneral {
    background-image: url(../Imagenes/menuBackgroundNew.webp);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}

.menuLists {
    display: flex;
    flex-direction: row;
    margin: 30px 20px 0px 20px;

    .coffeeMenuList {
        display: flex;
        flex-direction: column;
        margin: 20px;

        h3 {
            color: white;
            font-family: $fontTitlesStandard;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-bottom: 25px;
        }

        .coffeeDetailContainer {
            display: flex;
            align-items: flex-start;
            box-sizing: border-box;
            margin: 20px 0px;

            img {
                border-radius: 100%;
                width: 80px; 
            }

            .coffeeDetail {

                margin-left: 10px;

                .coffeeDetailTitle {
                    font-family: $fontTitlesStandard;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: white;
                }

                .coffeeDetailLine {
                    color: white;
                    span {
                        font-weight: bold;
                    }
                }
            
                .coffeeDetailDetail {
                    font-family: $fontDetailsStandard;
                    color:$colorDefault;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .video {
        height: 30rem;
    }

    #menuGeneral {
        padding: 3rem 0;
        
        .menuLists {
            margin: 0;
            flex-wrap: wrap;   
            justify-content: space-evenly;

            .coffeeMenuList {
                margin: 0;
                width: 30%;

                .coffeeDetailContainer {
                    img {
                        width: 56px;
                    }
                    .coffeeDetail {
                        .coffeeDetailLine {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 768px) {
    
    #menuGeneral {
        .menuLists {
            width: 100%;
            justify-content: center;
            .coffeeMenuList {
                margin: 0 10px;
                .coffeeDetailContainer {
                    .coffeeDetail {
                        .coffeeDetailDetail {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 684px) {
    .video {
        height: auto;
    }

    #menuGeneral {
        .menuTitle {
            padding: 3rem 0;
            .menuTitleParagraph {
                font-size: 2.5rem;
            }
        }
        .menuLists {
            width: 100%;
            justify-content: space-evenly;

            .coffeeMenuList {
                padding: 20px;
                width: 100%;
            }
        }
    }
}

@media (max-width: 442px) {
    #menuGeneral {
        padding: 1rem 0;
        .menuTitle {
            .menuTitleParagraph {
                font-size: 1.7rem;
            }
            .menuTitleLine {
                font-size: 1.5rem;
                margin-top: -18px;
            }
        }
    }
}