.navBarMethodShop {
    @include backgroundStyle (no-repeat, cover, 35rem, 0);
    background-image: url(../Imagenes/PortadaMetodShop.webp);
}

#mainMethodShop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;

    .mainMethodShopDescription {

        max-width: 50%;

        h2 {
            font-size: 4.5rem;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-family: $fontTitlesStandard;
            margin-bottom: 25px;

            span {
                color: $colorDefault;
            }
        }

        p {
            text-align: justify;
            font-family: $fontDetailsStandard;
            font-size: 1.2rem;
            letter-spacing: 1.2px;
            padding: 0 85px;

            span {
                color: nth($color, 3);
            }
        }
    }

}



#methodShopList {
    background-image: url(../Imagenes/bg-blog-image.jpg);
    padding: 25px;

    .methodShopListDescription {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 50%;
        margin-bottom: 50px;
        
        h2 {
            align-items: flex-start;
            letter-spacing: 4.8px;
            font-family: $fontTitlesStandard;
            font-size: $fontSizeBase*4;
            margin-top: 18px;

            span {
                color: $colorDefault;
            }

        }

        p {
            text-align: start;
            align-items: flex-start;
            padding-right: 20%;
            margin-bottom: 6%;
            font-family: $fontDetailsStandard;
            letter-spacing: 1.5px;
            text-transform: initial;
            font-size: 1.2rem;

            span {
                color: nth($color ,3);
            }
        }


    }
    .methodsContainer {
        @include boxStyle (none, space-evenly, center);
        flex-wrap: wrap;
        padding-left: 0;
    
        li {
            @include boxStyle (column, none, center);
            width: 30rem;
            margin-bottom: 60px;
    
            &:hover {
                transform: translateY(-6px) scale(1.03);
                transition: 0.9s;
                cursor: pointer;
            }
            
            h4 {
                color: $colorDefault;
                font-family: $fontTitlesStandard;
                font-size: 1.5em;
                letter-spacing: 1.8px;
                padding: 1px;
                font-weight: bold;
            
            }

            img {
                width: 6rem;
                height: 8rem;
                border-radius: 100%;
            }
    
            p {
                text-align: center;
                padding: 0;
                margin-bottom: 15px;
                font-family: $fontDetailsStandard;
            }
    
        }
    
        .itemButton {
            @extend %button;
            text-transform: uppercase;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}


@media (max-width: 992px) {
    #coverPageMethodShop {
        h2 {
            letter-spacing: 20px;
        }
    }

    #mainMethodShop {
        .mainMethodShopDescription {
            p {
                padding: 0 8px;
                font-size: 1rem;
            }
        }
    }

    #methodShopList {
        .methodShopListDescription {
            padding-right: 20%;
        }

        .methodsContainer {
            
            li {
                width: 15rem;
            }
        }
    }
}

@media (max-width: 768px) {
    #coverPageMethodShop {

        height: 45rem;

        h2 {
            letter-spacing: 15px;
        }

        .menuTitleLine {
            font-size: 2rem;
            margin-top: -150px;
        }
    }

    #mainMethodShop {
        img {
            width: 52%;
        }

        .mainMethodShopDescription {
            h2 {
                font-size: 4rem;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }
}

@media (max-width: 684px) {
    #coverPageMethodShop {
        height: 35rem;
        h2 {
            letter-spacing: 9px;
        }
        .menuTitleLine {
            margin-top: -132px;
            font-size: 1.8rem;
        }
    }

    #mainMethodShop {
        .mainMethodShopDescription {
            h2 {
                font-size: 3rem;
            }
        }
    }

    #methodShopList {
        .methodShopListDescription {
            padding-right: 0;
        }
    }
}

@media (max-width: 488px) {
    #coverPageMethodShop {
        height: 28rem;

        h2 {
            font-size: 1rem;
            letter-spacing: 6px;
        }

        .menuTitleLine {
            font-size: 1rem;
            margin-top: -106px;
        }
    }

    #mainMethodShop {

        background-image: url(../Imagenes/chemexStyle.webp);
        background-size: cover;

        img {
            display: none;
        }

        .mainMethodShopDescription {
            max-width: fit-content;
        }
    }

    #methodShopList {
        padding: 15px;
        .methodShopListDescription {
            h2 {
                font-size: 3rem;
            }

            p {
                padding-right: 0;
                text-align: justify;
                font-size: 1rem;
            }
        }
    }
}