.navBarMethodShop {
    @include backgroundStyle (no-repeat, cover, 35rem, 0);
    background-image: url(../Imagenes/PortadaMetodShop.webp);
}

.mainMethodShop {
    margin: 3rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family:nth($fontFamily, 4);
    }

    h4 {
        color: nth($color, 4);
        font-family: nth($fontFamily, 4);
        font-size: 1.5em;
        letter-spacing: 1.5px;
        padding: 1px;
        font-weight: bolder;

    }

    p {
        text-align: justify;
        font-style: italic;
        margin-bottom: 5rem;
        padding: 0 20rem;

        span {
            color: nth($color, 3);
        }
    }

}

.methodsContainer {
    @include boxStyle (none, space-evenly, center);
    flex-wrap: wrap;
    padding-left: 0;

    li {
        @include boxStyle (column, none, center);
        width: 30rem;
        margin-bottom: 60px;

        &:hover {
            transform: translateY(-6px) scale(1.03);
            transition: 0.9s;
            cursor: pointer;
        }

        img {
            width: 6rem;
            height: 8rem;
        }

        p {
            text-align: center;
            padding: 0;
            margin-bottom: 15px;
        }

    }

    .itemButton {
        @extend %itemsButton;
        text-transform: uppercase;
    }
}