$color: 
white,
black,
#eb9d29ef,
#FF8671,
rgb(194, 136, 66),
rgb(167, 164, 164);

$titleColors: 
rgb(54, 25, 25);

$bgColors:
#918b8b,
rgb(247, 230, 208);

$bgColorsFooter:
rgb(24, 24, 24);

$instagramColor:
#e4405f;

$facebookColor:
#3b5999;

$twitterColor:
#55acee;

