$fontFamily: 
'quicksand',
'sans-serif',
'work sans',
'Cormorant Garamond', 
'serif';

$fontStyle:
normal,
italic,
oblique,
initial,
inherit,
unset;

$fontSize:
1em,
1.5em,
2em,
2.5em,
3em,
3.5em,
4em,
4.5em,
5em;

$fontWeight:
100, 
200, 
300,
400,
500,
600,
700,
800,
bold, 
bolder,
lighter;

$letterSpacing:
2px,
5px,
10px,
15px;
